<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relatório</title>
    
    <!-- <link href="/content/bootstrap/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="../src/content/bootstrap/bootstrap.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
        .text-main {
            text-align: center;
        }

        .text-title {
            font-size: 12px;
        }

        table {
            width: 100%;
        }

        th {
            text-align: left;
        }

        .tr-border {
            border-bottom: 1px solid black
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .text-column {
            margin: 3px;
            font-size: 12px;
        }

        tr:nth-child(even) {
            background-color: #e1e1e1;
        }

        .margin-div-top{
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 20px;
        } 
        .text-footer {
            margin-top: 8px;
            margin-left: 5px;

        }

    </style>
</head>
<body class="bg-purple-100">
    <div class="margin-div-top card">           
        <h3 class="text-main"><b>Lista de passageiros</b></h3>
        <table>
            <thead>
                <tr class="tr-border">
                    <th class="text-title">#</th>
                    <th class="text-title">Nome</th>
                    <th class="text-title"> Número do voo</th>
                    <th class="text-title">Horário</th>
                </tr>
            </thead>

            <tbody>

            <% if (passengers.length > 0) { %>
                <% passengers.forEach((passenger, i) => { %>
                    <tr>
                        <td><p class="text-column"><%=i + 1 %></p></td>
                        <td><p class="text-column"><%= passenger.name %></p></td>
                        <td><p class="text-column"><%= passenger.flightNumber %></p></td>
                        <td><p class="text-column"><%= passenger.time %></p></td>
                    </tr>
                <%  }); %>
            <% } %>
            </tbody>
        </table>
        <p class="text-column text-footer"><%=passengers.length%> passageiros</p>
    </div>
    <!-- <script href="../src/scripts/bootstrap/bootstrap.js"></script> -->

</body>
</html>